{% extends 'portfolio/layout.html' %}

{% block content %}

{% load static %}


<div class ="beMyBe_container">

    <div class =
        <div class="profile-image">
            <img src="{% static 'DuarteChen.png' %}" alt="Duarte Chen">
        </div>
        <h1>Duarte Chen</h1>
        <p>Estudante de Engenharia Informática</p>
        <p>(+351) 936 099 274 · duartechen@gmail.com · a22203153@alunos.ulusofona.pt</p>

        <div class="content">
            <div class="left">
                <section class="education">
                    <h2 class="section-title">Formação Acadêmica</h2>
                    <p>2022 - Presente | Universidade Lusófona</p>
                    <p>Licenciatura em Engenharia Informática</p>
                    <ul>
                        <li>Fundamentos de Programação - Kotlin (17 val.)</li>
                        <li>Sistemas Digitais (14 val.)</li>
                        <li>Algoritmia e Estrutura de Dados - Java (atualmente)</li>
                        <li>Linguagens de Programação I - C (14v.)</li>
                        <li>Arquitetura de Computadores - Assembly (15v.)</li>
                    </ul>
                    <p>2018 | Universidade Católica Portuguesa</p>
                    <p>Mestrado Integrado em Teologia</p>
                    <ul>
                        <li>Aluno do Mestrado Integrado de Teologia</li>
                        <li>Desenvolvimento de pensamento teológico e filosófico em paralelo com a experiência no seminário.</li>
                    </ul>
                </section>
                <section class="skills">
                    <h2 class="section-title">Competências</h2>
                    <ul>
                        <li>Kotlin</li>
                        <li>Java</li>
                        <li>C</li>
                    </ul>
                </section>
                <section class="interests">
                    <h2 class="section-title">Interesses</h2>
                    <ul>
                        <li>Campismo</li>
                        <li>Natureza</li>
                        <li>Livros</li>
                        <li>Desporto</li>
                    </ul>
                </section>
            </div>
            <div class="right">
                <section class="experience">
                    <h2 class="section-title">Percurso Profissional</h2>
                    <ul>
                        <li>
                            <span>CGI Ambassador | 2022 - Presente</span>
                            Colaboração com atividades da empresa em iniciativas universitárias. Participação no estágio de verão de 2023.
                        </li>
                        <li>
                            <span>IKEA Loures | 2022 Marçoo - Maio</span>
                            Colaborador no balcão de serviços. Processamento e gestão de encomendas online com rotura de stock em loja. Relação com o cliente para a contratação de serviços, maioritariamente com serviços de transporte.
                        </li>
                        <li>
                            <span>Albano Almeida Lda.</span>
                            Envolvimento na empresa familiar no atendimento ao público e gestão e processamento de devoluções tanto em loja como em armazém.
                        </li>
                    </ul>
                </section>
                <section class="experience">
                    <h2 class="section-title">Experiências</h2>
                    <ul>
                        <li>
                            <span>2022 Outubro - 2024 Maio | NEC - Universidade Lusófona</span>
                            Fundador do núcleo de estudantes católicos da Universidade Lusófona. Organização de projetos. Angariação de estudantes.
                        </li>
                        <li>
                            <span>2022 - 2023 | JMJ Lisboa 2023</span>
                            Voluntário no Comité Organizador Local da JMJ Lisboa 2023, no Departamento da Pastoral e no Departamento de Comunicação, a partir de junho. Gestão e acreditação de jornalistas e órgãos de comunicação social. Criação e gestão do Parque do Perdão e de todas as estruturas que integraram o mesmo.
                        </li>
                        <li>
                            <span>2017 - 2022 | Seminário do Patriarcado de Lisboa</span>
                            Envolvimento em projetos de voluntariado com periféricos sócio, económicos. Envolvimento em vários projetos junto ao Patriarcado de Lisboa. Animador de grupos de jovens no Pré-Seminário de Lisboa. Equipar presépios pelas celebrações Patriarcais.
                        </li>
                    </ul>
                </section>
            </div>
        </div>
</div>






{% endblock %}