{% extends 'portfolio/layout.html' %}

{% block content %}
<div class="login-wrapper" id ="pwLoginWraper">
    <div class="login-container" id ="pwbox">
        <h2>Apresentação do meu Website</h2>

        <p>Esta página elenca as capacidades que desenvolvi ao deste projeto, com uma descrição de cada uma das webapps.</p>

        <ul>
            <p class="enfaseDePontos primeiro_enfaseDePontos">Portfolio:</p>
            <li class="textoDePontos">
                É uma "vitrine digital" do trabalho realizado durante o curso da cadeira de Programação Web.
                Funciona como um hub central para as todas as páginas do projeto.
            </li>
            <p class="enfaseDePontos">Página das Bandas:</p>
            <li class="textoDePontos">
                Apresenta uma coleção de álbuns e músicas.
                Demonstra competência na criação de aplicações web dinâmicas e interativas com Python e Django. Para mim é especialmente significativa na modelação de dados em Django.
            </li>
            <p class="enfaseDePontos">Página do Curso:</p>
            <li class="textoDePontos">
                Oferece informações abrangentes sobre o meu percurso de Engenharia Informática.
                Aborda disciplinas, conteúdos programáticos e projetos desenvolvidos.
            </li>
            <p class="enfaseDePontos">Página do Blog:</p>
            <li class="textoDePontos">
                Procura criar uma comunidade de utilizadores pela partilha de artigos de variados temas.
                Promove a troca de conhecimentos e experiências entre a toda a comunidade.
            </li>
            <p class="enfaseDePontos">Página de Meteorologia:</p>
            <li class="textoDePontos">
                Utiliza uma API desenvolvida a partir do IPMA.
                Fornece informações meteorológicas de maneira acessível e envolvente.
                Demonstra habilidades na integração de APIs externas e na criação de serviços personalizados.
            </li>
            <p class="enfaseDePontos">Página de Login:</p>
            <li class="textoDePontos">
                Oferece aos usuários a possibilidade de acederem e interagir com todas as páginas do projeto.
                Possui recursos de registo local e com uma conta Google.
                Garante uma experiência de usuário confiável e segura.
            </li>
        </ul>
    </div>


    <div class="login-container" id ="pwbox">

        <p class="enfaseDePontos primeiro_enfaseDePontos">Tecnologias Utilizadas:</p>
        <ul>
            <li class="textoDePontos">Python</li>
            <li class="textoDePontos">Django</li>
            <li class="textoDePontos">HTML</li>
            <li class="textoDePontos">CSS</li>
            <li class="textoDePontos">JavaScript</li>
        </ul>
    </div>



    <div class="login-container" id ="pwbox">

        <p class="enfaseDePontos primeiro_enfaseDePontos">Habilidades Demonstradas:</p>
        <ul>
            <li class="textoDePontos">Desenvolvimento de aplicações web dinâmicas e interativas.</li>
            <li class="textoDePontos">Integração de APIs externas.</li>
            <li class="textoDePontos">Criação de serviços personalizados.</li>
            <li class="textoDePontos">Compromisso com a excelência acadêmica e a inovação tecnológica.</li>
            <li class="textoDePontos">Paixão pela Engenharia Informática.</li>
        </ul>
    </div>


    <div class="login-container" id ="pwbox">

        <p class="enfaseDePontos primeiro_enfaseDePontos">Vídeos de Apresentação</p>
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=ztaLaP-xkkA&ab_channel=DuarteChen" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




    </div>
</div>
{% endblock %}
