{% extends 'portfolio/layout.html' %}

{% block content %}

<div class="welcome" id="subjectView">

    <div id="superParent">
        <div class="allsubject_detailsArea">

            <p>({% if subject.scientificArea %}{{ subject.scientificArea.name }}{% else %}No scientific area assigned{% endif %})</p>
            <div class="SubjectTitleContainer">
                <h1 class="title" id="subject_Title">{{ subject.name }}</h1>
                <div class="displayflexColumn">
                    <p>{{ subject.year }}º ano</p>
                    <p>{{ subject.semester }}º semestre</p>
                </div>
            </div>

            <div>
                <h2 class="subjectSubtitle">Principais conceitos:</h2>
                <ul>
                    {% for concept in subject.programa.all %}
                        <li>{{ concept.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2 class="subjectSubtitle">Descrição:</h2>
                <p>{{ subject.apresentacao }}</p>
            </div>

        </div>

        <div id="subjectparentcontainer">

            <div class="allsubject_details" id="Projectodetails">
                <span class="title-container">
                    <h2 class="subjectSubtitle">Projeto - </h2>
                    {% if subject.project %}
                        <h3 class="projectName">{{ subject.project.name }}</h3>
                    </span>
                    <div>
                        {% if subject.project.projectImage %}
                            <img src="{{ subject.project.projectImage.url }}" alt="{{ subject.project.name }}">
                        {% endif %}
                        <p>{{ subject.project.description }}</p>
                        {% if subject.project.youtubeVideo %}
                            <p>Watch the video: <a href="{{ subject.project.youtubeVideo }}">{{ subject.project.youtubeVideo }}</a></p>
                        {% endif %}
                        {% if subject.project.gitHub %}
                            <p>GitHub: <a href="{{ subject.project.gitHub }}">{{ subject.project.gitHub }}</a></p>
                        {% endif %}
                        <h4>Applied Concepts:</h4>
                        <ul>
                            {% for concept in subject.project.conceitosAplicados.all %}
                                <li>{{ concept.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                        <p>No project assigned.</p>
                    {% endif %}
            </div>

            <div class="allsubject_details" id="TeacherContainer">
                <h2 class="subjectSubtitle">Docentes:</h2>
                <ul>
                    {% for teacher in subject.teacher.all %}
                        <a href="{{ teacher.linkedinLink }}"><li>{{ teacher.name }}</li></a>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>

</div>

{% endblock %}
